# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"
DATABASE_USER="johndoe"
DATABASE_PASSWORD="randompassword"
DATABASE_NAME="mydb"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

# Express related settings
EXPRESS_SERVER_PORT=6969
